body {
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    background-color: black;
}
h1 {
  display: flex;
  color: #0d7979;
}

h2 {
  display: flex;
  color: #0a5a5a;
}

p {
    color: rgb(187, 183, 183);
}